<p>
  spa works!
  </p>
  <table >
    <tr>
      <td colspan="4" style="background-color:yellow">
  <a  routerLink="about" routerLinkActive="active C1">about</a>
</td><td style="background-color:red">
  <a routerLink="career" routerLinkActive="active C1">career</a>
</td><td style="background-color:pink">
  <a routerLink="pipeexample" routerLinkActive="active C1"> pipeC</a>
</td><td style="background-color:orange">
  <a routerLink="matExample" routerLinkActive="active C1">matExamples</a>
</td><td style="background-color:greenyellow">
  <a routerLink="basicdemo" routerLinkActive="active C1">basicdemo</a>
</td><td style="background-color:rgb(192, 235, 255)">
  <a routerLink="formsdemo" routerLinkActive="active C1">formsdemo</a>
</td><td style="background-color:indianred">
  <a routerLink="serviceExample" routerLinkActive="active C1">serviceConsume</a>
</td><td style="background-color:gold">   
  <a routerLink="cssexample" routerLinkActive="active C1">css example </a>
</td>
<td style="background-color:silver">   
    <a routerLink="cssexwithscss" routerLinkActive="active C1">css example with scss</a>
  </td>
  <td style="background-color:chartreuse">   
    <a routerLink="agridexample" routerLinkActive="active C1">ag grid example</a>
  </td>
  
</tr></table>
  <router-outlet></router-outlet>

