<p>
  materialexamples works!
</p>
<button mat-button >button1 </button>
<!--matBadge="A" matBadgePosition="before" matBadgeColor="accent-->
<mat-card>
  <mat-card-title>vijayasri profile</mat-card-title>
  <mat-card-content> Vijayasri Mobile Dev</mat-card-content>
 <!-- <mat-footer>card ends</mat-footer> -->
  </mat-card>

 <mat-radio-group>
  <!-- <mat-radio-button [value]="value1">
      abcd
   </mat-radio-button> -->
   </mat-radio-group>

<mat-menu>
 <button mat-menu-item>menu 1</button>
  </mat-menu>

 <!-- <mat-sidenav-container class="example-container" fullscreen> 
      <mat-sidenav #sidenav class = "example-sidenav"> 
         Angular 7 
      </mat-sidenav> 
      <div class = "example-sidenav-content"> 
         <button type = "button" mat-button (click) = "sidenav.open()"> 
            Open sidenav 
         </button> 
      </div> 
   </mat-sidenav-container>-->