$body:gold;
$font-color:red;
$font-size:10;
$font-style:italic;

body{
    background-color: $body;
}
p
{
    font-size: $font-size;
    color:$font-color;
}
a
{
    font-style: $font-style;
}

@mixin themable($themename,$bgcolor,$buttonColor)
{
    .#{$themename}
    {
        .container
        {
            background-color: $bgcolor;
            .button1 {
                background-color: $buttonColor;
                
            }
        }
        
    }
}
@include themable(theme1,blue,yellow);
@include themable(theme2,green,red);